/heap/external/PaRMAT/
/heap/parmat
/heap/.byebug_history
/priority_search_tree/.byebug_history
/priority_search_tree/raw.gz
/priority_search_tree/summary.txt

coverage
profile
*.gem
.yardoc
doc
.DS_Store
TAGS
README.html
.byebug_history
tmp/
*.bundle
